#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 300px; /* Reduced minimum width */
  min-height: 500px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  position: absolute; 
  top: -5%;
  left: 2%;
  width: auto;
  height: 35%;
  z-index: 3;
}

.social-media-links {
  position: absolute;
  width: 22%;
  display: flex;
  justify-content: space-around;
  bottom: 2%;
  right: 8%;
  z-index: 1;
}

.icon {
  width: 4vw;
}

.audio-player {
  border-radius: 12px;
  background-color: transparent;
  position: absolute;
  margin-top: 1%;
  margin-left: 43%;
  width: 22%;
  z-index: 10;
}

.notepad {
  position: absolute;
  top: 3%;
  right: 3%;
  height: 85%;
}

.background {
  min-height: 600px;
  width: 100%;
  height: 100%;
}

.top-notepad {
  position: absolute;
  background-color: #F9BCC6;
  z-index: 1;
  top: 2.25%;
  left: 3%;
  width: 94%;
  height: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
}

.notepad-text {
  position: absolute;
  font-size: large;
  color: black;
  display: inline-block;
  width: 70%;
  left: 15%;
  top: 20%;
}

.notepad-main-body {
  width: 85%;
  position: absolute;
  left: 5%;
  top: 15%;
} 


.tab {
  font-size: auto;
  color: black;
  background-color: #F9BCC6;
  border-radius: 0;
  text-shadow: 1px 1px 2px white;
  overflow: hidden;
  text-overflow: clip;
}

.paint-window {
  background-color: #E5CEE2;
  width: 55vw;
  height: 75%;
  border: 4px solid #F190C4;
  display: flex;
  align-items: flex-start; 
  flex-direction: column;
  position: absolute;
  left: 5%;
  bottom: 5%;
  top: 20%;
  overflow: hidden;
}

.top {
  min-width: 100%;
  background-color: #D2ABCA;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.paint-text {
  font-family: "Pixelify Sans", sans-serif;
  font-size: xx-large;
  color: white;
  text-shadow: 1px 1px #F190C4;
  text-align: left;
  padding-left: 4%;
  margin: 1%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spacer {
  flex-grow: 1;
}

.minimize {
  height: 50px;
  width: 50px;
}

.close {
  margin-right: 2%;
}

.custom-tab {
  font-family: 'Rubik', sans-serif;
  color: #F190C4;
  font-weight: bold;
  text-align: left;
  align-content: left;
  font-size: x-large;
  background-color: #E5CEE2;
  border-radius: 0;
  text-shadow: 1px 1px 2px white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.tabs-container {
  display: flex;
  width: 100%;
  align-items: left;
}

.tabs-wrapper {
  overflow: hidden;
  flex-grow: 1;
}

.tabs {
  text-align: left;
  display: flex;
  transition: scroll 0.3s ease;
}

.iframe {
  width: 90%;
  height: 80%;
  margin: 0 5% 5%;
  border: none;
}

.collaborations {
  width: 100%;
  height: 100%;
}

.collabs {
  width: 35%;
  height: auto;
  position: absolute;
  bottom: 0%;
  left: 6%;
}

/* Responsive Media Queries */
@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
  }

  .paint-window,
  .notepad {
    width: 80%;
    height: auto;
    position: relative;
    margin: 0 auto;
    left: 0;
  }

  .social-media-links{
    width: 80%;
    height: auto;
    position: relative;
    margin: -5% auto 3%;
    left: 0;
  }

  .paint-window{
    min-height: 400px;
    margin-bottom: 10px;
  }

  .iframe {
    width: 90%;
    height: 100%;
    margin: 0 5% 5%;
    border: none;
  }

  .audio-player{
    margin: 0 auto;
    width: 70%;
    position: relative;
  }

  
  .audio{
    position: relative;
    justify-content: center;
  }

  .spotify-player{
    width: 100%;
  }



  .title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  
  .icon {
    width: 10vw;
  }

  .notepad-text {
    font-size: 2.5vw;
    color: black;
  }


  .top-notepad{
    overflow-x: auto;
    white-space: nowrap;
  }

  .collabs{
    display: none; 
  }
}


