#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title{
  position: absolute; 
  top: -5%;
  left: 2%;
  width: auto;
  height: 35%;
  z-index: 3;
}

.social-media-links{
  position: absolute;
  width: 22%;
  display: flex;
  justify-content: space-around;
  bottom: 2%;
  right: 8%;
  z-index: 1;
}

.icon{
  width: 4vw;
}

.audio-player{
  position: absolute;
  margin-top: 1%;
  margin-left: 38%;
  width: 22%;
  z-index: 10;
}

@media screen and (max-width: 1000px){
  .title{
    position: absolute; 
    width: auto;
    height: 20%;
    z-index: 3;
  }
  
  .mobile-version{
    display: flex;
    width: 100vw;
  }

  .audio{
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  .audio-player{
    width: 90%;
    margin: 40% 5%;
  }
   
}