#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title{
  position: absolute; 
  top: -5%;
  left: 2%;
  width: auto;
  height: 35%;
  z-index: 3;
}

.social-media-links{
  position: absolute;
  width: 22%;
  display: flex;
  justify-content: space-around;
  bottom: 2%;
  right: 8%;
  z-index: 1;
}

.icon{
  width: 4vw;
}

.audio-player{
  position: absolute;
  margin-top: 1%;
  margin-left: 38%;
  width: 22%;
  z-index: 10;
}

/* @media (max-width: 768px){
  .title{
    position: absolute; 
    margin: auto;
    width: auto;
    z-index: 3;
  }
  
  .mobile-version{
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .audio{
    position: relative;
    width: 100%;
    z-index: 10;
  }

  .audio-player{
    width:80%;
    margin: 40% 5%;
  }

  .social-media-links{

  }
   
} */

@media screen and (max-width: 767px) {
  /* Basically up to, but not including an iPad */
  .title{
    position: absolute; 
    margin:  5% auto;
    height: auto;
    width: 90%;
    z-index: 3;
  }
  
  .mobile-version{
    display: flex ;
    flex-direction: row;
    width: 100vw;
  }
  .notepad{
    width: 90%;
    margin-top: 25%;
  }

  .paint-window{
    display: none !important;
  }


  .audio{
    width: 100%;
    z-index: 10;
  }

  .audio-player{
    width:80%;
    margin: 40% 5%;
    display: none;
  }


}
